{% extends "main.html.twig" %}

{% block header %}
  <div class="hero-header">
    <img src="assets/img/healthy-bowl-frische.jpg" class="hero-bg" alt="">
    <img src="assets/img/logo-v2.png" class="hero-logo" alt="Logo">
  </div>
{% endblock %}


{% block content %}
    <h1 style="color:var(--lighter-green)">Boodschappenlijst</h1>

 <ul>
{% set totaal = 0 %}

{% for item in data %}

  {% set item_totaal = item.prijs * item.aantal_verpakkingen %}
  {% set totaal = totaal + item_totaal %}

  <li>
    Artikel:{{ item.naam }} -
     Aantal: {{ item.aantal_verpakkingen }} -
     Prijs:  €{{ item.prijs / 100 }} -
     Subtotaal:€{{ item_totaal / 100 }}
     <i class="fa fa-trash"> </i>
  </li>

{% else %}
  <li>Je boodschappenlijst is leeg.</li>
{% endfor %}
</ul>
<h3>Totaal: </h3> €{{totaal /100}}


    
{% endblock %}