{% extends "main.html.twig" %}

{% block header %}
  <div class="hero-header">
    <img src="assets/img/healthy-bowl-frische.jpg" class="hero-bg" alt="">
    <img src="assets/img/logo-v2.png" class="hero-logo" alt="Logo">
  </div>
{% endblock %}

{% block content %}
    <span class="star" data-value="1">*</span>
     <span class="star" data-value="2">*</span>
     <span class="star" data-value="3">*</span>
     <span class="star" data-value="4">*</span>
     <span class="star" data-value="5">*</span>

<div class="kaart">

  {% if data.afbeelding %}
    <img src="{{ data.afbeelding }}" class="kaart-foto" alt="{{ data.gerecht_titel }}">
  {% endif %}

  <div class="kaart-content">

    <div class="meta">
      <img src="assets/img/46424798-euro-teken-icoon-aan-wit-achtergrond-vector.jpg" width="20">
      {{ attribute(data, 'totaal prijs') }}

      <img src="assets/img/vuur.png" width="20">
      {{ attribute(data, 'aantal calorieen') }}

      <img src="assets/img/istockphoto-993103334-612x612.jpg" width="20">
      4

   
    </div>

    <h2 style="color:var(--lighter-green)">{{ data.gerecht_titel }}</h2>
    <p>{{ attribute(data, 'lange omschrijving') }}</p>

 
<a href="index.php?action=oplijst&gerecht_id={{ data.id }}" class="smullen-btn"> 
  <h3 style="color:white"> Op lijst</h3>
</a>


<a href="#"
   class="js-fav"
   data-gerecht="{{ data.id }}">
<i 
   class="fa fa-heart fa-regular">
</i>
</a>

   
   
</div>
 
</div>

<div class="details-tab">
  
 <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#tab-ingredients"
                type="button"
                role="tab">
          Ingrediënten
      </button>
      </li>

      <li class="nav-item" role="presentation">
        <button class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#tab-prep"
                type="button"
                role="tab">
          Bereidingswijze
      </button>
      </li>
  

     <li class="nav-item" role="presentation">
        <button class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#tab-comments"
                type="button"
                role="tab">
          Opmerkingen
     </button>
      </li>
    </ul>

    <div class="tab-content pt-3">

  <div class="tab-pane fade show active" id="tab-ingredients" role="tabpanel">
    <ul>
      {% for ingr in data.ingredients %}
        <li>{{ ingr.naam }}</li>
      {% else %}
        <li>Geen ingrediënten gevonden.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="tab-pane fade" id="tab-prep" role="tabpanel">
    <ul>
      {% for step in data.steps %}
        <li>Stap {{ step.stap }}: {{ step.instructie }}</li>
      {% else %}
        <li>Geen stappen gevonden.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="tab-pane fade" id="tab-comments" role="tabpanel">
    <ul>
      {% for comm in data.comments %}
        <li>{{ comm.user }}: {{ comm.comment }}</li>
      {% else %}
        <li>Geen opmerkingen gevonden.</li>
      {% endfor %}
    </ul>
  </div>

</div>
</div>





{% endblock %}

