{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<div class="hero-header">
    <img src="assets/img/healthy-bowl-frische.jpg" class="hero-bg" alt="">
    <img src="assets/img/logo-v2.png" class="hero-logo" alt="Logo">
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
    {# Dit is commentaar #}


    {# Print #}
    <h1>Heading #1</h1>
    <h2>Heading #2</h2>
    <h3>Heading #3 t/m 5</h3>

    <h4>Dit is de template {{  title }}</h4>


    
<h4>Dit is de template {{ title }}</h4>

  <ul>
    {% for record in data %}
      <div style="margin-bottom: 20px;">

        {% if record.afbeelding %}
          <img src="{{ record.afbeelding }}" style="width: 100px; height: 100px;" alt="gerecht">
        {% endif %}

        <strong>{{ record.keuken_type }} • {{ record.gerecht_type }}</strong><br>
        <em>Door {{ record.usernaam}} ({{ record.datum_toegevoegd }})</em><br>

        <p>{{ attribute(record, 'korte omschrijving') }}</p>

        {# sub-loop: ingredients #}
        <div>
          {% for ingr in record.ingredients %}
            <li>
              {{ ingr.naam }} 
            </li>
          {% endfor %}
        </div>

    </div>
    {% else %}
      <li>Geen gerechten gevonden.</li>
    {% endfor %}
  </ul>

  {# Dump  #}
  <pre>{{ dump(data) }}</pre>

{% endblock %}
