{% extends "main.html.twig" %}

{% block header %}
  <div class="hero-header">
    <img src="assets/img/healthy-bowl-frische.jpg" class="hero-bg" alt="">
     <a href="index.php?action=homepage">
         <img src="assets/img/logo-v2.png" class="hero-logo" alt="Logo">
    </a>
  </div>
{% endblock %}


{% block content %}
    <h1 style="color:var(--lighter-green)">Alle recepten:</h1>

<div class="kaart">
{% for item in data %}

 <a href="index.php?action=detail&gerecht_id={{ item.id }}"> <h2>{{item.titel}}</h2></a><br>

{{item.korte_omschrijving}}<br>
{{item.datum_toegevoegd}}<br>
</div>
{% else %}
      <p class="text-muted">
        Geen recepten gevonden voor "<strong>{{ question }}</strong>".
      </p>

{% endfor %}




    
{% endblock %}